* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: rgba(0, 106, 255, 0.384);
}

nav {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 22px 22px;
    min-height: 80px;
    height: 80px;
    background: #1f1f1f;
    white-space: nowrap;
    overflow: hidden;
    top: o;
    z-index: 1000;
}

nav > a {
    display: inline-block;
    vertical-align: bottom;
    max-width: 1080px;
}

nav img {
    display:inline-block;
    vertical-align: middle;
    max-height: 48px;
    background-color: white;
    vertical-align: middle;
}

nav ul,
nav ul li,
.spacer {
    vertical-align: middle;
    display: inline-block;
}

.spacer {
    /* Parent width - Logo width - Menu <ul> width */
    width: calc(100% - 280px - 276px);
}

nav ul {
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 15px;
    color: blue;
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    max-width: 100%;
    white-space: nowrap;
}

#last-item {
    margin-right: 0px;
}

nav ul li a:link,
nav ul li a:visited {
    color: white;
}

nav ul li a:hover {
    color: rgb(229, 145, 0);
}

nav ul li a:active {
    color: rgb(92, 229, 0);
}

#current-page {
    color: aquamarine;
}

.content-wrapper {
    display: block;
    width: 100%;
    height: 1500px;
    padding-top: 80px;
    position: sticky;
    top: 0;
    overflow: visible;
}

header{
    display: inline-block;
    text-align: center;    
    width: 70%;
    padding-top: 100px;
    position: sticky;
    top:0;

}

h1{    
    color: black;
    vertical-align: top;
}

.scroll-top {
    position: sticky;
    cursor: pointer; /* カーソルをポインターに変更 */
    text-align: right; 
    margin-top: 20px; 
    z-index: 10;
}

.scroll-top a {
    font-size: 20px; 
    color: black; 
    text-decoration: underline; 
    cursor: pointer;
}

.scroll-top a:hover {
    color: rgb(229, 145, 0); /* ホバー時の色を変更 */
}


aside {
    display:inline-block;
    background: #1f1f1f;
    padding: 20px;
    text-align: center;
    width: 25%;
    padding-bottom: 100px;
    height: 100vh;
    position: sticky;
    top: 0;
    padding-top: 100px;
}

aside h2 {
    display: block;
    color: white;
    background-color: #1f1f1f;
}

aside ul li a {
    color: rgba(0, 106, 255, 0.384);
    display: block;
    background-color: #1f1f1f;
}

footer {
    bottom: 0;
    background: #1f1f1f;
    text-align: center;
    padding: 15px;
    width: 100%;
}

footer ul {
    display: block;
    margin-right: 15px;
    margin: 0 auto;
    padding-bottom: 10px;
}

footer ul li {
    text-align: center;
    color: rgba(0, 106, 255, 0.384);
    display: inline;
    padding-left: 5px;
    padding-right: 5px

}

footer p {
    padding-top: 15px;
    color: aliceblue;
    margin-top: 0;
    text-align: center;
    margin: 0 auto;
    font-size: 12px;

}

.footer_p {
    display: block;
    border-top: 0.5px solid white;
    margin: 5px;
}